.weather-card {
  
  height: 300px;
  border: 1px solid #ccc;
  margin: 15px auto;
  width:700px;
  text-align: left;
  padding: 15px;
}

.weather-card-header {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  max-width: 600px;
}

table th, table td {  
  border: 1px solid #ccc;
  padding: 5px;
}

.navigate-weather {
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #000;
}